@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

.comment-card {
  margin-left: 1.25em;
  margin-top: 10px;
  width: 40rem;
}

.reply-card {
  margin-left: 5.25em;
  margin-top: 10px;
  width: 36rem;
}

#profile {
  background-color: #beb8b8;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  height: 35vh;
}

.message {
  background-color: #d8cbcb;
  padding: 1em;
  border-radius: 10px;
  width: 20%;
}

.user-message {
  margin-left: 80%;
  margin-top: 10px;
  background-color: #858080;
  padding: 1em;
  border-radius: 10px;
}

.chat-box {
  position: fixed;
  bottom: 16px;
  left: 25%;
  width: 50%;
}

.conversation {
  background-color: #858080;
  width: 25%;
  padding: 1em;
  margin: 10px;
  border-radius: 10%;
  border: black 3px solid;
}

.username {
  text-decoration: none; 

  &:hover {
    text-decoration: underline;
  }
}